@font-face {
    font-family: Exo-ExtraBold;
    src: url("../fonts/Exo2-ExtraBold.ttf");
}

@font-face {
    font-family: Exo-Medium;
    src: url("../fonts/Exo2-Medium.ttf");
}

@font-face {
    font-family: OpenSans-Light;
    src: url("../fonts/OpenSans-Light.ttf");
}

body {
    background-color: #212830;
}

video.star-field-video { 
    width: 100%;
    background: url("../img/videobg.jpg") no-repeat;
    background-size: cover; 
    overflow: hidden;
}

video.stream-video { 
    width: 100%;
    background: url("../img/videobg.jpg") no-repeat;
    background-size: cover; 
    border-top: 2px solid #001111;
    border-left: 2px solid #001111;
    border-right: 2px solid #001111;
    float: left;
}

.star-field-container {
}

.stream-video-container {
    position: relative;
    z-index: 2;
    margin-top: -30%;
    margin-bottom: -24px;
}

.menu .active > a {
    background-color: turquoise;
}

.row {
    max-width: 100%;
}

a {
    color: white;
    font-family: Exo-Medium;
}

a:hover {
    color: turquoise;
}

.menu, .top-bar, .top-bar ul {
    background-color: black;
    color: white;
}

.top-bar {
    z-index: 8;
}

.relative-position {
    position: relative;
}

.menu-bar {
    clear: both;
    position: relative;
    z-index: 3;
    width: 100%;
    max-width: 100%;
    margin-top: 0px;
}

.hero-section {
    background-color: black;
    background-image: url("../img/tmpbg_posts.jpg");
    background-size: cover;
    height: 500px;
}

.hero-section-revolution {
    background-image: url("../img/monitor_sm.jpg");
    height: 500px;
}

.hero-section-grow {
    margin-left: 25px;
    height: 500px;
}

.hero-section-points {
    height: 200px;
}

div.points {
    padding-top: 15px;
}

.orbit-container, .orbit-bullets {
    background-color: black;
}

.orbit-bullets {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.orbit-picture-half {
    width: 50%;
}

button {
    cursor: pointer;
}

button.is-active {
    background-color: #00abaa !important;
}

.forced-column {
    min-height: 100px;
}

.footer-column {
    padding: 25px;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

h1, h2, h3, h4 {
    font-family: Exo-ExtraBold;
    color: #00abaa;
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 16pt;
}

h4 {
    font-size: 12pt;
}

.white {
    color: white;
}

p {
    padding: 15px;
    color: white;
    font-family: OpenSans-Light;
}

.bottom-textbox {
    padding-top: 250px;
}

.left-textbox {
    padding-left: 45px;
}

.top-textbox {
    padding-top: 25px;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.lower-main-container {
    position: relative;
    z-index: 5;
    width: 100%;
    max-width: 100%;
    background-color: #212830;
}

.footer-container {
    margin-top: 20px;
    position: relative;
    width: 100%;
    max-width: 100%;
    background-image: url("../img/footer-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
}

@media screen and (min-width: 1030px) {
    .hero-section {
    }
}

@media screen and (max-width: 1025px) {
    video.stream-video {
        margin-top: -10%;
    }

    .footer-container {
        background-image: none;
    }
}
