@font-face {
    font-family: Exo-ExtraBold;
    src: url("../fonts/Exo2-ExtraBold.ttf");
}

@font-face {
    font-family: Exo-Medium;
    src: url("../fonts/Exo2-Medium.ttf");
}

@font-face {
    font-family: OpenSans-Light;
    src: url("../fonts/OpenSans-Light.ttf");
}

body {
    background-color: #08090b;
}

video.star-field-video { 
    width: 100%;
    background: url("../img/videobgblack.jpg") no-repeat;
    background-size: cover; 
    overflow: hidden;
}

video.stream-video { 
    width: 100%;
    background: url("../img/videobgblack.jpg") no-repeat;
    background-size: cover; 
    border-top: 2px solid #001111;
    border-left: 2px solid #001111;
    border-right: 2px solid #001111;
    float: left;
    box-shadow: 0px 0px 6px -2px black;
}

.star-field-container {
}

.stream-video-container {
    position: relative;
    z-index: 2;
    margin-top: -30%;
    margin-bottom: -24px;
}

.stream-video-darken {
    height: 630px;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0px;
    z-index: 3;
    opacity: 0.6;
    left: 15px;
}

.stream-video-overlay {
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0px;
    z-index: 4;
    left: 15px;
    padding-left: 350px;
}

.notification-t-shirt {
    width: 15%;
    position: absolute;
    top: 20%;
    left: 30%;
}

.notification-headline {
    width: 30%;
    position: absolute;
    top: 48%;
    left: 22.5%;
}

.menu .active > a {
    background-color: turquoise;
}

.row {
    max-width: 100%;
}

a {
    color: white;
    font-family: Exo-Medium;
}

a:hover {
    color: turquoise;
}

.menu > li > a {
    line-height: 1.4;
}

.menu, .top-bar, .top-bar ul {
    background-color: black;
    color: white;
    box-shadow: 1px 1px 3px 1px black;
}

.top-bar {
    z-index: 8;
}

.relative-position {
    position: relative;
}

.logo-stream-merch {
    max-height: 25px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.logo-pixelcotton {
    max-height: 15px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
}

li.border-white-right {
    border-right: 1px solid white;
}


a.link-logo {
    padding: 2px !important;
}

.menu-bar {
    clear: both;
    position: relative;
    z-index: 3;
    width: 100%;
    max-width: 100%;
    margin-top: 0px;
}

.hero-section {
    background-color: black;
    background-image: url("../img/tmpbg_posts.jpg");
    background-size: cover;
    height: 500px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.hero-section-revolution {
    background-image: url("../img/monitor_sm.jpg");
    height: 500px;
}

.hero-section-grow {
    margin-left: 25px;
    height: 500px;
}

.hero-section-points {
    background-image: none;
    background-color: #050a0d;

    background: -webkit-linear-gradient(#050a0d, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#050a0d, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#050a0d, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#050a0d, black); /* Standard syntax */

    height: 250px;
}

div.points {
    padding-top: 25px;
    padding-left: 35px;
    padding-right: 35px;
}

.orbit-container, .orbit-bullets {
    background-color: black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    max-height: 365.817px;
}

.orbit-bullets {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 4px solid #101a27;
    box-shadow: 0px 6px 6px -4px black;
}

.orbit-picture-half {
    width: 50%;
}

a.button {
    background-color: #00abaa;
    border-radius: 2px;
    margin-left: -20px;
}

button {
    cursor: pointer;
}

button.is-active {
    background-color: #00abaa !important;
}

.forced-column {
    min-height: 100px;
}

.footer-column {
    padding: 25px;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

h1, h2, h3, h4 {
    font-family: Exo-ExtraBold;
    color: #00abaa;
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 16pt;
}

h4 {
    font-size: 12pt;
}

.white {
    color: white;
}

p {
    padding: 15px;
    color: white;
    font-family: OpenSans-Light;
}

.bottom-textbox {
    padding-top: 140px;
}

.left-textbox {
    padding-left: 45px;
}

.top-textbox {
    padding-top: 25px;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.lower-main-container {
    position: relative;
    z-index: 5;
    width: 100%;
    max-width: 100%;
    background-color: #08090b;
}

.footer-container {
    margin-top: 20px;
    position: relative;
    width: 100%;
    max-width: 100%;
    background-image: url("../img/footer-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

@media screen and (min-width: 1030px) {
    .hero-section {
    }
}

@media screen and (max-width: 1023px) {
    video.stream-video {
        margin-top: -10%;
    }

    .stream-video-darken {
        top: -75px;
        left: 0px;
        width: 120%;
    }

    .stream-video-overlay {
        top: -75px;
        left: 0px;
        width: 100%;
        height: 130%;
    }

    .footer-container {
        background-image: none;
    }
}
