body {
    background-color: black;
}

video.star-field-video { 
    position: relative;
    width: 100%;
    z-index: -100;
    background: url(img/videobg.jpg) no-repeat;
    background-size: cover; 
    overflow: hidden;
}

video.stream-video { 
    width: 100%;
    z-index: -90;
    background: url(img/videobg.jpg) no-repeat;
    background-size: cover; 
    border-top: 2px solid #001111;
    border-left: 2px solid #001111;
    border-right: 2px solid #001111;
}

.stream-video-container {
    margin-top: -409px;
    margin-bottom: -8px;
}

.menu .active > a {
    background-color: turquoise;
}

a {
    color: white;
}

a:hover {
    color: turquoise;
}

.menu, .top-bar, .top-bar ul {
    background-color: black;
    color: white;
}

.relative-position {
    position: relative;
}

.menu-bar {
    width: 100%;
    max-width: 100%;
    margin-top: 0px;
}
